<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="todoApp">

<head>

  <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
  <title>Feedback</title>
  <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
  <meta  name="viewport"  content="width=300, initial-scale=1">
  <!--   <link  rel="stylesheet"  href="css/style.css"> -->
 
  <!-- load bootstrap -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<!-- SET THE CONTROLLER -->

<body ng-controller="reportController">

  <div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div align="center">
         <!--  <h1><span class="label label-info"></span> Fiche d'évaluation</h1> -->
         <font  size="6"></font>
         <h1> <img  style="width: 450px; height: 200px;" class="newappIcon" src="images/innovation_day.png" alt="ibm" align="middle"></h1>
         <hr style="width:700px; color:#3b4b54; background-color:#2d3f49; height:5px; align:center;"/> 
    </div>

    <!-- FORM TO CREATE TRACKS -->
    
<div id="aDiv">  
   <form id=ratingform data-toggle="validator" class="form-inline">

                  
    <fieldset>
                      <p class="text-center" ng-show="loading">
                         <span class="fa fa-spinner fa-spin fa-3x"></span>
                      </p>
    </fieldset>


    
     <fieldset ng-repeat="tracks in todos">
        <legend id=nosteplegend>Nom:    {{trackitem.name}}</legend>
        <ol>
          <li>
                                 <!-- LOOP OVER THE TRACKS IN $scope.todos -->

                                         
             <fieldset ng-repeat="item in tracks track by $index"> 
      
              <legend color="#111111">{{item.name}}  {{item.values}}</legend>  
              <ol>
              
              </ol>
       
            </fieldset>  
          </li>

        </ol>
      </fieldset>
      

        </form>
        </div>  
     <!--     </div>  -->
    <!--      </div> -->
        </div>
    
    <!-- SHOW OFF OUR FORMDATA OBJECT -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="vendor/angular/angular.min.js"></script>
  <script type = "text/javascript"  src = "vendor/jquery/dist/jquery.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

  <!-- load our todo service -->
  <script src="scripts/services/todo.service.js"></script>
  <!-- load up our controller -->
  <script src="scripts/controllers/todo.controller.js"></script>
  <!-- load our main application -->
  <script src="scripts/todo.js"></script>
 
}
</script>
</body>

</html>
